<!DOCTYPE html>
<html>
<head>
	<title>Brackets4Life</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
  	<!--[if IE 7]>
  		<link rel="stylesheet" href="/assets/font-awesome-ie7.min.css">
  	<![endif]-->
</head>
<body>

	<%= render 'shared/navbar' %>

	<%= yield %>

</body>
</html>
